@mixin flex_me (
    $dir:null,
    $wrap:null,
    $just:null,
    $align:null)
    {
      display: flex;
      flex-direction: $dir;
      flex-wrap: $wrap;
      justify-content: $just;
      align-items: $align;
    }

@mixin centered {
  max-width: 65em;
  display: block;
  margin: 0 auto;
}
