@mixin flex_me (
    $dir:null,
    $wrap:null,
    $just:null,
    $align:null)
    {
      display: flex;
      flex-direction: $dir;
      flex-wrap: $wrap;
      justify-content: $just;
      align-items: $align;
    }

@mixin centered {
  max-width: 65em;
  display: block;
  margin: 0 auto;
}

@mixin grayscale {
  filter: grayscale(100%);
  transition: filter .6s ease-in;
  &:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
    @content;
  }
}
