%field-border {
  border: 1px solid $complementary-image-color;
  outline: $complementary-image-color;
}

%form-field{
  background-color: #f2f2f2;
  border-radius: 5px;
  height: 30px;
  width: 40%;
}
