//*==================================
// Form Styles
//*==================================
form{
  background-color: $complementary-image-color;
  @include mq('md'){
    background-color: $primary-dark;
  }
}

label{
  text-align: center;
  margin: .5em 0;
}

input{
  @extend %form-field;
  width: 70%;
  @include centered;
  margin-bottom: 2em;
  @include mq('md'){
    width: 40%;
  }
}

input[placeholder]{
  padding-left: .5em;
}

input:focus{
  @extend %field-border;
  background-color: $form-field-color;
  transition: background-color .3s;
  box-shadow: 0 0 5px 2px;
}
