//*==================================
// Images
//*==================================
#my_photos{
  @include flex_me($wrap:wrap, $just:space-around);
}

a img {
  padding: 25px;
  filter: grayscale(100%);
  transition: filter .6s ease-in;
}

a img:hover{
  filter: grayscale(0%);
  transform: scale(1.1);
}
