//*==================================
// Typography
//*==================================
.search_field{
  @include flex_me($dir:column, $wrap:wrap, $just:center);
  font-family: $main-font;
  font-weight: $boldly-thick;
  color: $white;
}

label[for="search"]{
  font-size: 40px;
}
